* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex: 1;
    width: 100%;
    height: 13vh;
    background-color: #FFFF;
    border-bottom: 2px solid #f6f7f9;
    z-index: 10;

}

nav {
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.logo h2 {
    height: 20px;
    color: #3563E9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.39;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;
}

.logo-and-searchbar {
    display: flex;
    color: #3D5278;
    gap: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    align-items: center;
}

.searchbar {
    display: flex;
    width: 35vw;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f7f9;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    padding: 07px 15px;
    margin-top: 10px;
}

.search-input {
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
    padding: 0 10px;
    font-size: 1rem;
    transform: all 2s ease;
}

.heart-notification-setting-profile {
    display: flex;
    align-items: center;
    gap: 25px;
    color: #566279;
    margin-right: 30px;
}

.profile {
    background-image: url(images/profile.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 35px;
    height: 35px;
    background-color: #3D5278;
    border-radius: 50%;
    border: 1px solid black;
}

.heart-notification-setting-profile i {
    border: 1px solid #C3D4E9;
    border-radius: 50%;
}

/* hero section */
main {
    width: 100%;
    height: 180vh;
    background-color: #F6F7F9;
    justify-content: center;
}

.hero-section-main-cards {
    width: 80vw;
    height: 50vh;
    margin: auto;
    padding: 0 0 0 2.3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.first-rent-car-card {
    width: 35vw;
    height: 45vh;
    background-color: #5CAFFC;
    padding: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 10px 25px rgba(235, 234, 239, 0.2);
}

.card-title {
    font-size: 1.4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 1.2;
}

.card-subtitle {
    font-size: 1rem;
    font-weight: 300;
    font-family: Trebuchet MS;
    margin-bottom: 20px;
    opacity: 0.9;
}

.btn-rental {
    background-color: #3563E9;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: 300;
    cursor: pointer;
    width: fit-content;
    transition: all 0.3s ease;
}

.btn-rental:hover {
    background-color: #5CAFFC;
    border: 1px solid white;
}

.first-rent-car-card img {
    width: 250px;
    height: 120px;
    display: block;
    margin-top: 10px;
    align-self: center;
}

/* second hero card */
.second-rent-car-card {
    width: 35vw;
    height: 45vh;
    background-color: #3563E9;
    padding: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.btn-rental2 {
    background-color: #5CAFFC;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: 300;
    cursor: pointer;
    width: fit-content;
    transition: all 0.3s ease;
}

.btn-rental2:hover {
    background-color: #3563E9;
    border: 1px solid white;
}

.second-rent-car-card img {
    width: 210px;
    height: 120px;
    display: block;
    margin-top: 10px;
    align-self: center;
}

/* Pickup and Drop-off section */
.pickup-dropoff {
    width: 80vw;
    height: 20vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* -------------------------------------------------------------------------- */

.pick-up {
    width: 32vw;
    height: 13vh;
    background-color: #FFFF;
    align-self: center;
    border-radius: 8px;
}

.pick {
    display: flex;
    flex-direction: row;
    font-size: 0.80rem;
    font-weight: 500;
}

h5 {
    margin: 7px 0 0 5px;
    color: #1A202C;
    font-family: sans-serif;
}

h5 img {
    margin-top: 2px;
    height: 10px;
}

.location-date-time {
    display: flex;
    margin: 16px 0 0 9px;
    gap: 7px;
}

.location h3 {
    font-size: 0.80rem;
    font-family: sans-serif;
    margin-left: 4px;
}

.location select {
    border: none;
    color: #5f6368;
    font-size: 0.65;
}

.date {
    border-left: 1px solid rgb(228, 218, 218);
}

.date h3 {
    font-size: 0.80rem;
    font-family: sans-serif;
    margin-left: 4px;
}

.date select {
    border: none;
    color: #5f6368;
    font-size: 0.65;
}

.time {
    border-left: 1px solid rgb(228, 218, 218);
}

.time h3 {
    font-size: 0.80rem;
    font-family: sans-serif;
    margin-left: 4px;
}

.time select {
    border: none;
    color: #5f6368;
    font-size: 0.65;
}

/* arrow button */
.arrow-btn {
    width: 60px;
    height: 60px;
    background-color: #3563E9;
    color: white;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(53, 99, 233, 0.4);
    cursor: pointer;
    font-size: 1.2rem;
}

/* -------------------------------------------------------------------------- */

/* drop off */
.drop-off {
    width: 32vw;
    height: 13vh;
    background-color: #FFFF;
    align-self: center;
    border-radius: 8px;
}

/* All cars collection category */
/* Popular car and View All */
.first-car-collection-container {
    width: 75vw;
    height: 48vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.popularcar-viewall {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0 1.6rem 0 1.6rem;
    height: 5vh;
}

.popularcar-viewall p {
    font-size: .86rem;
    color: gray;
    font-family: sans-serif;
    font-weight: 500;
}

.popularcar-viewall h6 {
    font-size: .86rem;
    font-family: sans-serif;
    color: #3563E9;
    font-weight: 500;
}

/* Cars Category */
.cars-category {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
}

.first-car-box {
    background-color: white;
    width: 17vw;
    border-radius: 5px;
}

.name-favourate {
    display: flex;
    justify-content: space-between;
    padding: .60rem 0.50rem 0 .50rem;
}

.name-favourate h4 {
    font-size: 1rem;
    color: black;
    font-family: sans-serif;
    font-weight: 600;
}

.name-favourate p {
    color: grey;
    font-family: sans-serif;
    font-size: .90rem;
}

.car-image {
    width: 100%;
    height: 15vh;
    box-shadow: 0 -15px 15px -5px white inset;
}

.car-image img {
    width: 13vw;
    margin: 2rem auto 0 1rem;
}

.gas-manuel-user {
    width: 100%;
    height: 4vh;
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    align-items: end;
}

.gas-manuel-user .gas {
    display: flex;
}

.gas p {
    color: gray;
    font-size: .80rem;
    font-family: sans-serif;
}
.gas-manuel-user .manuel {
    display: flex;
}

.manuel p {
    color: gray;
    font-size: .80rem;
    font-family: sans-serif;
}
.gas-manuel-user .users {
    display: flex;
}

.users p {
    color: gray;
    font-size: .80rem;
    font-family: sans-serif;
}

/* price and rent now button */
.price-and-button {
    width: 100%;
    height: 7vh;
    padding: 0 .50rem 0 .50rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0 0;
}

.price {
    display: flex;
    align-items: center;
}

.price h3 {
    font-family: sans-serif;
    font-size: 1rem;
    color: black;
}

.price p {
    color: grey;
    font-family: sans-serif;
    font-size: .80rem;
}

.price-and-button button {
    width: 7vw;
    height: 6vh;
    border: none;
    border-radius: 5px;
    background-color: #3563E9;
    color: white;
    font-size: .90rem;
    font-family: sans-serif;
    font-weight: 500;
}


/* --- Responsive Layout for Pick-up & Drop-off on smaller screens --- */
@media (max-width: 950px) {
    header {
        height: auto;
        min-height: 13vh;
        padding: 15px 0;
    }

    nav {
        flex-wrap: wrap;
        gap: 15px;
    }

    .logo-and-searchbar {
        display: contents;
    }

    .logo {
        flex: 1 1 40%;
        margin-left: 20px;
    }

    .logo h2 {
        margin-bottom: 0px;
    }

    .heart-notification-setting-profile {
        flex: 1 1 40%;
        margin-right: 20px;
        justify-content: flex-end;
        gap: 12px;
    }

    .searchbar {
        flex: 1 1 100%;
        width: 90vw;
        max-width: 450px;
        margin: 5px auto;
        order: 3;
    }

    main {
        height: 400vh;
        padding-bottom: 50px;
    }

    .hero-section-main-cards {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 20px;
    }

    .first-rent-car-card,
    .second-rent-car-card {
        width: 100%;
        height: auto;
        min-height: 25vh;
        padding-bottom: 25px;
    }

    .pickup-dropoff {
        flex-direction: column;
        height: auto;
        gap: 20px;
        padding: 20px 0;
    }

    .pick-up,
    .drop-off {
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }

    .location-date-time {
        flex-wrap: wrap;
        padding-right: 15px;
        justify-content: space-between;
    }

    .location,
    .date,
    .time {
        flex: 1 1 30%;
        min-width: 90px;
    }

    .location select,
    .date select,
    .time select {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .arrow-btn {
        margin: 5px 0;
        z-index: 5;
    }

    .cars-category {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.3rem;
    }

    .first-car-box {
        width: 100%;
    }

    .name-favourate {
        padding: 2rem;
        font-size: 3rem;
    }

    .name-favourate h4 {
        font-size: 2rem;
    }

    .car-image {
    width: 100%;
    height: 15vh;
    box-shadow: 0 -15px 15px -5px white inset;
    }

    .car-image img {
        width: 35vh;
        align-self: center;
        margin-left: 8rem;
    }

    .gas-manuel-user {
    width: 100%;
    height: 4vh;
    display: flex;
    margin-top: 2rem;
    justify-content: space-around;
    align-items: end;
}

.gas-manuel-user i {
    font-size: 30px;
}

.gas p {
    font-size: 1.4rem;
    margin-top: 7px;
}
.manuel p {
    font-size: 1.4rem;
    margin-top: 7px;
}
.users p {
    font-size: 1.4rem;
    margin-top: 7px;
}

.price-and-button {
    justify-content: space-around;
    align-items: center;
    padding: .40rem 0 0 0;
}

.price-and-button h3 {
    font-size: 1.6rem;
}

.price-and-button p {
    font-size: 1.4rem;
}

.price-and-button button {
    width: 15vw;
}
    
}

@media(max-width: 504px) {

    .car-image img {
        margin-left: 5rem;
    }
}